.# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
dist/
build/
*.tsbuildinfo

# Env & secrets
.env
.env.*
*.local

# OS
.DS_Store
Thumbs.db

# Temporal (si tu utilises le CLI local)
.temporal/

# IDE
.vscode/
.idea/
*.swp

# Logs
logs/
*.log